*{
    margin: 0;
    padding: 0;
}


body{
    background:linear-gradient(hsla(300, 100%, 3%, 0.843),rgb(46, 1, 21));
     
    font-family: system-ui;
}
a{
    text-decoration: none;
    color:rgb(248, 243, 243);
}
header{
    position: fixed;
    width: 95%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}
header .logo{
    font-size: 30px;
    text-transform: uppercase;
}
 
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

}
 
header ul li{
    margin-right: 30px;
}

header ul li a{
    padding: 6px 15px;
    border-radius: 20px;
}
header ul li a:hover, .active{
    background-color: #fff;
    color:#200016 ;
}
.main{
position: relative;
height: 100vh;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.main::after{
    content:"" ;
     position: absolute;
     bottom: 0;
     height: 100px;
     width: 100%;
     background: linear-gradient(to top, #200016,transparent);
}

.main img{
    position:absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
#moon{
    mix-blend-mode: screen;
    transform:translateY(80px)
}
 .SOFA{
    color: #fff;
    font-size: 25px;
    transform:translateY(-140px)
 }
 .content{
    color: #fff;
    padding: 30px;
 }
 
 .content h2{
    margin: 20px;
    font-size: 30px;
 }
 .content p{
    margin: 20px;
 }